@define-color rosewater #f4dbd6;
@define-color flamingo #f0c6c6;
@define-color pink #f5bde6;
@define-color mauve #c6a0f6;
@define-color red #ed8796;
@define-color maroon #ee99a0;
@define-color peach #f5a97f;
@define-color yellow #eed49f;
@define-color green #a6da95;
@define-color teal #8bd5ca;
@define-color sky #91d7e3;
@define-color sapphire #7dc4e4;
@define-color blue #8aadf4;
@define-color lavender #b7bdf8;
@define-color text #cad3f5;
@define-color subtext1 #b8c0e0;
@define-color subtext0 #a5adcb;
@define-color overlay2 #939ab7;
@define-color overlay1 #8087a2;
@define-color overlay0 #6e738d;
@define-color surface2 #5b6078;
@define-color surface1 #494d64;
@define-color surface0 #363a4f;
@define-color base #24273a;
@define-color mantle #1e2030;
@define-color crust #181926;

window {
  border-radius: 10px;
  font-family: "SpaceMono Nerd Font";
  background: alpha(@base, 0.5);
}
#main-box {
  border-radius: 10px;
  padding: 20px;
  border: 1px solid alpha(@overlay0, 0.8);
}
button {
  transition-duration: .2s;
}
button:focus {
  outline: none;
}
#menu {
  border-radius: 10px;
  border: 1px solid alpha(@overlay0, 0.8);
}

#menu button {
  border-radius: 0;
  background: none;
  padding: 2px 10px;
}
#menu button:not(.menu_hori) {
  border-bottom: 1px solid alpha(@overlay0, 0.5);
}
#menu *:not(.menu_hori):first-child {
  border-radius: 10px 10px 0 0;
}
#menu button:not(.menu_hori):last-child {
  border-bottom: none;
  border-radius: 0 0 10px 10px;
}
#menu button:not(.menu_hori):first-child {
  border-radius: 10px 10px 0 0;
}

#menu_hori button.top:last-child {
  border-radius: 0 10px 0 0;
}
#menu_hori button.top:first-child {
  border-radius: 10px 0 0 0;
}
#menu_hori button.bottom:last-child {
  border-radius: 0 0 10px 0;
}
#menu_hori button.bottom:first-child {
  border-radius: 0 0 0 10px;
}

.spacer {
  padding: 1px;
  background: @overlay0;
}
.circularprogress {
  color: @surface0;
  border: @lavender;
}
.close-btn {
  background: alpha(@mantle, 0.5);
}
.selected {
  background: alpha(@blue, 0.9);
  color: @crust;
}
.font-xlarge {
  font-size: 50px;
}
.font-large {
  font-size: 35px;
}
.font-medium {
  font-size: 20px;
}
.font-lavender {
  color: @lavender;
}

#poweroff:hover {
  background: @red;
  color: @crust;
}
#windows:hover {
  background: @blue;
  color: @crust;
}
#reboot:hover {
  background: @peach;
  color: @crust;
}
#exit:hover {
  background: @yellow;
  color: @crust;
}
