@import "mocha.css"; 

* {
    font-family: "SpaceMono Nerd Font";
    font-size: 16px;
    min-height: 0;
    font-weight: bold;
    transition-duration: .2s;
}

window#waybar {
    background: alpha(@base, 0.5);
    color: @text;
    transition-property: background;
    transition-duration: 0.1s;
    border-radius: 10px;
    border: 1px solid alpha(@overlay0, 0.8);
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

#workspaces button {
    padding: 0 8px 0 2px;
    /* border-top: 2px solid @mauve; */
    /* border-bottom: 2px solid @mauve; */
    /* background: @crust; */
}
#workspaces button:first-child {
    /* border-radius: 10px 0 0 10px; */
    /* border-left: 2px solid @mauve; */
    
}
.modules-left>widget:first-child>#workspaces>button:first-child {
    border-radius: 10px 0 0 10px;
    padding-left: 6px;
}
#workspaces button:last-child {
    /* border-radius: 0 10px 10px 0; */
    /* border-right: 2px solid @mauve; */
    padding-right: 8px;
}
#workspaces button:only-child {
    border-radius: 10px;
    padding: 0 10px 0 14px;
    /* border: 2px solid @mauve; */
}
#workspaces button:hover {
    background: alpha(@surface1, 0.5);
    color: @teal;
}
#workspaces button.active {
    color: @rosewater;
}
#workspaces button.active:hover {
    background: alpha(@surface1, 0.8);
    color: @sapphire;
}
#workspaces button.urgent {
    animation: strobe-red 2s infinite;
}
#workspaces button.urgent:hover {
    animation: none;
    background: alpha(@red, 0.8);
    color: @surface0;
}

@keyframes strobe-red {
  0% {
    background: rgba(0,0,0,0);
  }
  50% {
    background: alpha(@red, 0.5);
  }
  100% {
    background: rgba(0,0,0,0);
  }
}

#custom-music,
#custom-cava,
#pulseaudio,
#clock,
#battery,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#scratchpad,
#bluetooth,
#custom-weather,
#privacy {
    /* background: @crust; */
    margin-bottom: 0;
    margin-left: 0px;
    margin-right: 5px;
    padding: 3px 10px;
    /* border-radius: 20px; */
}

#privacy {
    /* margin-left: 15px; */
    /* border: 2px solid @lavender; */
}

#custom-music {
    margin-left: 5px;
    color: @red;
    border-top: 2px solid @red;
}
#custom-music.paused,
#custom-cava.Paused {
    color: @peach;
}
#custom-music.disconnected {
    margin: 0;
    padding: 0;
    border: none;
}

#custom-cava {
    color: @text;
}
#custom-cava.Playing {
    color: @maroon;
    text-shadow: 0 1px 2px @surface0;
}
#custom-cava.Playing:hover {
    border-top: 2px solid @maroon;
}
#custom-cava.Stopped {
    margin: 0;
    padding: 0;
    border: none;
}
#clock {
    color: @peach;
    border-top: 2px solid @peach;
}
#clock:hover {
    border-left: none;
}

#clock.date {
    color: @mauve;
    border-top: 2px solid @mauve;
}

#bluetooth {
    color: @sapphire;
    border-top: 2px solid @sapphire;
}
#bluetooth.disabled {
    color: @teal;
    border-top: 2px solid @teal;
}
#bluetooth.connected {
    color: @lavender;
    border-top: 2px solid @lavender;
}

#pulseaudio {
    color: @lavender;
    border-top: 2px solid @lavender;
}

#network {
    color: @yellow;
    border-top: 2px solid @yellow;
}

#battery {
    color: @flamingo;
    border-top: 2px solid @flamingo;
}
#battery.warning {
    /* color: @surface0; */
    /* background: @peach; */
    border-top: 2px solid @peach;
}
#battery.critical {
    text-shadow: 0 1px 2px @crust;
    background: alpha(@red, 0.4);
    border-top: 2px solid @red;
}
#battery.charging {
    color: @teal;
    border-top: 2px solid @teal;
}
#battery.plugged {
    color: @green;
    border-top: 2px solid @green;
}

#backlight {
    color: @pink;
    border-top: 2px solid @pink;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child {
    margin-left: 0px;
}

/* If workspaces is the rightmost module, omit right margin */
/* .modules-right>widget:last-child>#workspaces { */
/*     margin-right: 0; */
/* } */

#tray {
    border-top: 2px solid @rosewater;
}

#cpu,
#memory,
#temperature {
    /* background: @crust; */
    padding-right: 15px;
    border-top: 2px solid @lavender;
}
#temperature {
    padding-left: 10px;
}
#memory {
    padding-right: 10px;
    margin-right: 5px;
}

#idle_inhibitor {
    color: @green;
    padding-left: 6px;
    padding-right: 14px;
}
#idle_inhibitor.activated {
    color: @red;
}

#power-profiles-daemon {
    padding-left: 6px;
    padding-right: 14px;
}
#power-profiles-daemon.power-saver {
  color: @green;
}
#power-profiles-daemon.balanced {
  color: @blue;
}
#power-profiles-daemon.performance {
  color: @red;
}

#custom-power {
    margin-right: 10px;
    padding-left: 8px;
    padding-right: 12px;
    color: @lavender;
    border-top: 2px solid @lavender;
}
#custom-power:hover {
    color: @peach;
    text-shadow: 0 1px 2px @crust;
}
#custom-lock,
#custom-quit,
#custom-reboot,
#custom-sleep {
    margin-bottom: 0;
    padding: 3px 10px;
    color: @lavender;
    border-top: 2px solid @lavender;
}

#custom-quit:hover {
    color: @crust;
    background: @maroon;
    text-shadow: 0 1px 2px @crust;
}
#custom-reboot:hover {
    color: @crust;
    background: @peach;
    text-shadow: 0 1px 2px @crust;
}
#custom-lock:hover {
    color: @crust;
    background: @teal;
    text-shadow: 0 1px 2px @crust;
}
#custom-sleep:hover {
    color: @crust;
    background: @blue;
    text-shadow: 0 1px 2px @crust;
}

#idle_inhibitor:hover,
#power-profiles-daemon:hover {
    background: alpha(@surface1, 0.5);
}

#custom-weather {
    color: @peach;
    border-top: 2px solid @peach;
    margin-right: 0;
}
#custom-weather:hover {
    background: @surface0;
    color: @green;
    border-top: 2px solid @green;
    margin-right: 5px;
}
