@import "mocha.css";

* {
	background-image: none;
	box-shadow: none;
}

window {
  background: rgba(17,17,27, 0.6);
}

button {
  color: @text;
  text-decoration-color: @text;
  background: @surface0;
  border-radius: 10px;
  border: none;
  background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
  margin: 5px;
}

button:focus, button:active, button:hover {
	background-color: @surface1;
}

#lock {
    background-image: image(url("./lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("./logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("./sleep.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("./shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("./reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}

#windows {
    background-image: image(url("./windows.png"));
}
